<div class="row">
  <div class="col s12">
    <img class="circle responsive-img hide-on-med-and-down" src="/images/skydiving.jpg" /><br />
    <h4 class="center-align" style="font-size: 2rem;">Noah Lackstein</h4>
  </div>
</div>

<div class="valign-wrapper">
  <div id="sidebar-links" class="row">
    <div class="col sidebar-col">
      <p>testing...</p>
    </div>
  
    <div class="col sidebar-col">
      <p>test 2</p>
    </div>
  
    <div class="col sidebar-col">
      <p>test 3</p>
    </div>
  
    <div class="col sidebar-col">
      <p>test 4</p>
    </div>
  </div>
</div>